.adm-modal {
  --z-index: var(--adm-modal-z-index, 1000);
  position: fixed;
  z-index: var(--z-index);
}
.adm-modal .adm-modal-mask {
  z-index: 0;
}
.adm-modal-wrap {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 280px;
  max-width: 75vw;
  transform: translate(-50%, -50%);
}
.adm-modal-main {
  width: 100%;
  font-size: 14px;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.adm-modal-main .adm-modal-body {
  padding: 20px 12px 12px;
}
.adm-modal-main .adm-modal-body .adm-modal-close {
  position: absolute;
  right: 12px;
  top: 12px;
  color: var(--adm-color-weak);
  padding: 2px;
}
.adm-modal-main .adm-modal-body-header-wrapper {
  display: flex;
  justify-content: center;
}
.adm-modal-main .adm-modal-body-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.adm-modal-main .adm-modal-body-content {
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 15px;
  line-height: 1.4;
  color: #333;
}
.adm-modal-main .adm-modal-footer {
  user-select: none;
  padding: 8px 12px 12px;
}
.adm-modal-main .adm-modal-footer .adm-modal-button {
  font-size: 18px;
  line-height: 25px;
  border-right: solid 0.5px var(--adm-border-color);
}
.adm-modal-main .adm-modal-footer .adm-modal-button:last-child {
  border-right: none;
}
.adm-modal-main .adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary) {
  padding-top: 0;
  padding-bottom: 0;
}
.adm-modal-main .adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary)::before {
  display: none;
}
.adm-modal-main .adm-modal-footer .adm-modal-button:not(.adm-modal-button-primary):active {
  opacity: 0.7;
}
